* {
    box-sizing: border-box;
}

body {
    background-color: rgb(253, 213, 236);
}

h1 {
    text-align: center;
}

.btn-lang {
    margin-left: 400px;
    margin-bottom: 20px;
    color: blue;
}

body.rtl {
    direction: rtl;
}